<div>
    <h1 class="display-4">Add New Author </h1>
    <div style="height:50px"></div>
    <form method="post" action="/Book/Upload" enctype="multipart/form-data">
        <label for="authorName">Author Name:</label><br>
        <input type="text" id="authorName" name="authorName"><br>
        <input style="margin-top:10px" type="submit" value="Submit">
    </form>
</div>